body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image:
    linear-gradient(160deg, rgb(39, 39, 39) 50%, rgba(31, 30, 30, 0.801) 50%), url('./Imagens/Imagem2.jpg');
    background-attachment: fixed;
    background-size: contain;
    font-family: Candara ,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.row{
    display: grid;
    grid-template-columns: 50% 50%;
}

.column{
    margin: 0px;
    text-align: center;
    padding: 10px;
}

h1{
    font-size: 40px;
    font-family: 'Merriweather', serif;
}

#itens{
    background-color: rgb(255, 255, 255);
    text-align: left;
    border: solid 4px rgb(112, 13, 6);
    padding-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

ul{
    padding: 0px;
    margin: 0px;
}

h4{
    margin-bottom: 3px;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

li{
    padding: 3px;
    font-family: 'Merriweather', serif;
    color: rgb(151, 16, 7);
    font-size: 15px;
}

#precoTotal{
    background-color: rgb(151, 16, 7);
    border-radius: 100px;
    margin: 100px;
    margin-top: 0px
}

#precoTotal p{
    color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}

h2{
    color: white;
    padding: 0px;
    margin: 0%;
}

input{
    border-radius: 7px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px black;
}

button {
    background-color: rgb(151, 16, 7);
    color: rgb(255, 255, 255);
    border: 0px solid rgb(0, 0, 0);
    font-family: 'Merriweather', serif;
    padding: 3px;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(151, 16, 7);
}
